@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.container {
  max-width: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
}

.container .form-card h1 {
  text-align: center;
  margin: 35px 0 20px 0;
  font-size: 40px;
  font-weight: 400;
}
.container .form-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  grid-column: 2/6;
  grid-row: 1/1;
  width: 450px;
  height: 400px;
  background-color: white;
  box-shadow: 5px 5px 50px 5px grey;
  z-index: 2;
}

.form-card .user-box {
  margin: 10px 0 15px 30px;
  color: gray;
}

#textarea {
  margin-bottom: 70px;
}

.form-card .submit-wrapper {
  text-align: center;
  margin: 0 30px;
}

.submit-wrapper .submit-button {
  align-self: center;
  margin-top: 10px;
  width: 110px;
  height: 40px;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

.container .image-card {
  grid-column: 5/9;
  grid-row: 1/1;
  object-fit: cover;
  background-image: url(https://images.pexels.com/photos/7394721/pexels-photo-7394721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  width: 450px;
  height: 570px;
  z-index: 1;
}
.container .backround-card {
  grid-column: 1/10;
  grid-row: 1/1;
  margin-top: 130px;
  height: 160px;
  width: 1000px;
  background-color: #b3deef;
  z-index: 0;
}
